.TasksTextField {
  width: 70%;
  padding-bottom: 30px;
}

.TasksButton {
  color: var(--color-background);
  width: 70%;
  border-radius: 40px;
}

.TasksCard {
  background: transparent;
  max-width: 250px;
  max-height: 200px;
  margin: 20px;
  border: 1px solid grey;
  border-left: 3px solid green;
}

.TasksCardHeader {
  padding: 20px 20px 10px 20px;
  font-weight: 700;
  text-align: left;
}

.TasksCardContent {
  padding: 10px 20px 20px 20px;
  text-align: left;
}

.TasksCardAction {
  justify-content: center;
}
