.BoardAreaHeader {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.react-kanban-column {
  min-width: 400px;
  max-width: 400px;
  min-height: 80vh !important;
  display: flex;
  overflow: auto;
}

.react-kanban-board {
  justify-content: center;
}
